<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="email.invalid && email.touched">
      Informe um email válido.
    </ion-note>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="password.invalid && password.touched">
      A senha deve ter no mínimo 6 caracteres.
    </ion-note>

    <ion-button expand="block" type="submit" [disabled]="loginForm.invalid">
      Entrar
    </ion-button>

  </form>

</ion-content>
