.bg-image{
    background-image: url(https://cdn-icons-png.flaticon.com/512/5276/5276156.png);
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

.margin-top{
    margin-top:  10%;
}