<ion-content [fullscreen]="true" >
    
  <ion-header color="sencondary">
     <ion-label><h1 class="title">Seja bem vindo</h1></ion-label>
    <ion-button class="botao">Conheça Mais</ion-button>
  </ion-header>

  <ion-item class="cards">
    <ion-card class="ion-justify-content-center"  color="medium">

            <h1 >O melhor site do Angular</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum culpa earum fugit doloremque quas illo nesciunt similique explicabo quaerat quam eaque adipisci ea atque ad, fuga iure harum qui hic.</p>

      <ion-button color="primary">Acessar</ion-button>
    </ion-card>

    <ion-card class="ion-justify-content-center"  color="medium">
      <h1>O Pior site do Angular</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum culpa earum fugit doloremque quas illo nesciunt similique explicabo quaerat quam eaque adipisci ea atque ad, fuga iure harum qui hic.</p>
      <ion-button color="primary">Acessar</ion-button>
    </ion-card>
  </ion-item>

  <ion-item class="programmer">
    <ion-row>
      <ion-col>
      <img src="https://i.pinimg.com/564x/b4/67/85/b46785ad17a20fa11581416ea16e740c.jpg" alt="">
      </ion-col>
      <ion-col>
        <ion-item>
        <ion-label>
          <h1>Esse é o programador Base</h1>
          <p>Ele não possui mais vida social, é um ser raro de se ver fora de seu quarto</p>
        </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-item>

  <ion-footer>
      <ion-item >
        <ion-label >
          <p >Todos os Direitos Reservador @ecaro</p>
        </ion-label>
      </ion-item>
  </ion-footer>
   
  <!-- não tive criatividade e ficou feio  -->
</ion-content>